<div id="session_form">
  <h3><%=t("login.confirmation_instructions")%></h3>
  <div id="row_form">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <p class="form_legend"><%=t("dictionary.email")%></p>
        <%= f.email_field :email, autofocus: true, class: "outlined_input", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      <div class="end_row margin_end_row">
        <div class="end_column">
          <%= render "devise/shared/links" %>
        </div>
        <div class="actions">
          <%= f.submit t("login.confirmation_instructions_resend"), {class: "movle_button resend_button"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
