<div id="search_view">
  <div class="search_display">
    <div id="search-sidebar">
      <h1><i id="folder" class="bi bi-folder"></i><%=t('search.search')%></h1>
      <div class="filter_set">
        <i id="arrow" class="bi bi-caret-up-fill"></i>
        <span class="filter_title"><%=t('search.filter_by')%><span class="filter_title_bold"><%=t('search.type')%></span></span>
        <hr class="separator">
        <div id="filters">
          <ul class="opened_filter">
            <div id="ul-users"><%=t('search.users')%></div>
          </ul>
          <ul class="opened_filter">
            <div id="ul-presentations"><%=t('search.presentations')%></div>
          </ul>
          <ul class="opened_filter">
            <div id="ul-links"><%=t('search.links')%></div>
          </ul>
        </div>
      </div>
      <div class="filter_set">
        <i id="arrow2" class="bi bi-caret-down-fill"></i>
        <span class="filter_title"><%=t('search.filter_by')%><span class="filter_title_bold"><%=t('search.tags')%></span></span>
        <hr class="separator">
        <div id="filters2" class="filters-close">
          <% @tags_array.uniq.sort.each do |tag| %>
            <% generated_id= "ul-" + tag %>
            <ul class="opened_filter">
              <div class="filter-tags"id="<%= generated_id %>"><%= tag %></div>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div id="search_div">
      <div id="search_results">
        <div class="dropdown dropdown_order_by">
          <button class="btn btn_order_by dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=t('search.order_by')%>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if @type != 'user' %>
              <a class="dropdown-item <%= 'sort-active' if @sort_by == 'views' %>" id="views_sort"><%=t('search.views')%></a>
            <% end %>
            <a class="dropdown-item <%= 'sort-active' if @sort_by == 'recent_date' %>" id="recent_date"><%=t('search.recent_date')%></a>
            <a class="dropdown-item <%= 'sort-active' if @sort_by == 'oldest_date' %>" id="oldest_date"><%=t('search.oldest_date')%></a>
          </div>
        </div>
        <% if @query.present? %>
          <div id="text_search">
            <h3><%=t('search.search_results')%>: <%= @query %></h3>
            <i class="bi bi-x-circle-fill" id="btnDeleteSearch"></i>
          </div>
        <% end %>
        <% if @type == 'presentation' %>
          <div id="final_results" class="presentation_items">
            <% @results.each do |result| %>
              <%= render :partial => 'resources/box', :locals  => { :resource => result } %>
            <% end %>
          </div>
        <% elsif @type == 'link' %>
          <div id="final_results" class="presentation_items">
            <% @results.each do |result| %>
              <% if defined?(result.iframe) %>
                <%= render 'embeds/embed', embed: result %>
              <% else %>
                <%= render 'links/link', link: result %>
              <% end %>
            <% end %>
          </div>
        <% elsif @type == 'user' %>
          <div id="final_results" class="items">
            <% @results.each do |result| %>
              <div id="link_to_user">
                <%= link_to "/users/" + result.id.to_s do %>
                  <div class="item_box">
                    <%= image_tag('profile.png',:class => "user_photo"); %>
                    <div class="user_items">
                      <div class="name_email">
                        <i class="bi bi-person-fill"></i><%= result.name %>
                      </div>
                    </div>
                    <div class="user_email">
                      <%= result.email %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div id="final_results" class="items">
            <% @combined_results.each do |result| %>
              <% if result.respond_to?(:views) %>
                <%= render :partial => 'resources/box', :locals  => { :resource => result } %>
              <% elsif result.respond_to?(:iframe) || result.respond_to?(:url)%>
                <% if defined?(result.iframe) %>
                  <%= render 'embeds/embed', embed: result %>
                <% else %>
                  <%= render 'links/link', link: result %>
                <% end %>
              <% else %>
                <div id="link_to_user">
                  <%= link_to "/users/" + result.id.to_s do %>
                    <div class="item_box">
                      <%= image_tag('profile.png',:class => "user_photo"); %>
                      <div class="user_items">
                        <div class="name_email">
                          <i class="bi bi-person-fill"></i><%= result.name %>
                        </div>
                      </div>
                      <div class="user_email">
                        <%= result.email %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end%>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var arrowIcon = document.getElementById("arrow");
    var arrowIcon2 = document.getElementById("arrow2");
    var filtersDiv = document.getElementById("filters");
    var filtersDiv2 = document.getElementById("filters2");
    var isVisible = true;
    var users = document.getElementById("ul-users");
    var presentations = document.getElementById("ul-presentations");
    var links = document.getElementById("ul-links");
    var textSearch = document.getElementById("text_search");
    var url = window.location.href; // Obtener la URL actual

    setTagsFilters();

    window.addEventListener('popstate', function(event) {
      var state = event.state;
      setTagsFilters();
    });

    $('#recent_date').click(function() {
    handleSortClick('recent_date');
    });

    $('#oldest_date').click(function() {
      handleSortClick('oldest_date');
    });

    $('#views_sort').click(function() {
      handleSortClick('views');
    });

    // Botón para eliminar una consulta de la URL
    $('#btnDeleteSearch').click(function() {
      deleteSearchQuery();
    });

    // Botón para añadir una consulta a la URL
    $('#ul-users').click(function() {
      var url = window.location.href; // Obtener la URL actual
      var separator = url.includes('?') ? '&' : '?'; // Verificar si ya hay consultas en la URL
      var filters2Div = document.getElementById('filters2');
      var divElements = filters2Div.getElementsByTagName('div');
      for (var i = 0; i < divElements.length; i++) {
        // Verifica si la clase "active-filter" está presente
        if (divElements[i].classList.contains('active-filter')) {
          // Elimina la clase "active-filter"
          divElements[i].classList.remove('active-filter');
        }
      }
      if (url.includes('type=user')) {
        // Eliminar la consulta de la URL
        var newUrl = url.replace(/\?.*/, '');
        window.history.pushState("", "", newUrl);
      } else if (url.includes('?')) {
        var newUrl = url.replace(/\?.*/, '?type=user');
        window.history.pushState("", "", newUrl);
      } else {
        var newUrl = url + '?type=user';
        window.history.pushState("", "", newUrl);
      }

      // Realizar la petición AJAX
      ajaxRequest(newUrl);
    });

    $('#ul-presentations').click(function() {
      var url = window.location.href; // Obtener la URL actual
      var separator = url.includes('?') ? '&' : '?'; // Verificar si ya hay consultas en la URL
      if (url.includes('type=presentation')) {
        var filters2Div = document.getElementById('filters2');
        var divElements = filters2Div.getElementsByTagName('div');
        for (var i = 0; i < divElements.length; i++) {
          // Verifica si la clase "active-filter" está presente
          if (divElements[i].classList.contains('active-filter')) {
            // Elimina la clase "active-filter"
            divElements[i].classList.remove('active-filter');
          }
        }
        var newUrl = url.replace(/\?.*/, '');
        window.history.pushState("", "", newUrl);
      } else if (url.includes('?')) {
        var newUrl = url.replace(/\?.*/, '?type=presentation');
        window.history.pushState("", "", newUrl);
      } else {
        var newUrl = url + '?type=presentation';
        window.history.pushState("", "", newUrl);
      }

      // Realizar la petición AJAX
      ajaxRequest(newUrl);
    });

    // Botón para añadir una consulta a la URL
    $('#ul-links').click(function() {
      var url = window.location.href; // Obtener la URL actual
      var separator = url.includes('?') ? '&' : '?'; // Verificar si ya hay consultas en la URL
      var filters2Div = document.getElementById('filters2');
      var divElements = filters2Div.getElementsByTagName('div');
      for (var i = 0; i < divElements.length; i++) {
        // Verifica si la clase "active-filter" está presente
        if (divElements[i].classList.contains('active-filter')) {
          // Elimina la clase "active-filter"
          divElements[i].classList.remove('active-filter');
        }
      }
      if (url.includes('type=link')) {
        // Eliminar la consulta de la URL
        var newUrl = url.replace(/\?.*/, '');
        window.history.pushState("", "", newUrl);
      } else if (url.includes('?')) {
        var newUrl = url.replace(/\?.*/, '?type=link');
        window.history.pushState("", "", newUrl);
      } else {
        var newUrl = url + '?type=link';
        window.history.pushState("", "", newUrl);
      }

      // Realizar la petición AJAX
      ajaxRequest(newUrl);
    });

    $('.filter-tags').click(function() {
      var id = $(this).attr('id').substring(3);
      var url = window.location.href; // Obtener la URL actual
      if (url.includes(id)) {
        document.getElementById("ul-" + id).classList.remove("active-filter");
        if (url.includes('%2C'+ id)) {
          var newUrl = url.replace('%2C' + id, '');
        } else {
          if (url.includes('%2C')) {
            var newUrl = url.replace('&tags=' + id + '%2C', '&tags=')
          } else {
            var newUrl = url.replace('&tags=' + id, '')
          }
        }
      } else {
        document.getElementById("ul-" + id).classList.add("active-filter");
        presentations.classList.add("active-filter");
        var separator = url.includes('?') ? '&' : '?'; // Verificar si ya hay consultas en la URL
        // Construir la nueva URL con la consulta añadida
        if (url.includes('type=presentation')) {
          if (url.includes('tags')) {
            var newUrl = url + '%2C' + id;
          } else {
            var newUrl = url + separator + 'tags=' + id;
          }
        } else {
          if (url.includes('type=user')) {
            users.classList.remove("active-filter");
            var newUrl = url.replace('type=user', 'type=presentation') + '&tags=' + id;
          } else if (url.includes('type=link')) {
            links.classList.remove("active-filter");
            var newUrl = url.replace('type=link', 'type=presentation') + '&tags=' + id;
          } else {
            var newUrl = url + separator + 'type=presentation' + '&tags=' + id;
          }
        }
      }
      // Realizar la petición AJAX
      ajaxRequest(newUrl);
      window.history.pushState("", "", newUrl);
    });

    arrowIcon.addEventListener("click", function() {
    if (arrowIcon.classList.contains("bi-caret-down-fill")) {
      arrowIcon.classList.remove("bi-caret-down-fill");
      arrowIcon.classList.add("bi-caret-up-fill");
      filtersDiv.classList.remove("filters-close");
      isVisible = false;
    } else {
      arrowIcon.classList.remove("bi-caret-up-fill");
      arrowIcon.classList.add("bi-caret-down-fill");
      filtersDiv.classList.add("filters-close");
      isVisible = true;
    }
    });

    arrowIcon2.addEventListener("click", function() {
    if (arrowIcon2.classList.contains("bi-caret-down-fill")) {
      arrowIcon2.classList.remove("bi-caret-down-fill");
      arrowIcon2.classList.add("bi-caret-up-fill");
      filtersDiv2.classList.remove("filters-close");
      isVisible = false;
    } else {
      arrowIcon2.classList.remove("bi-caret-up-fill");
      arrowIcon2.classList.add("bi-caret-down-fill");
      filtersDiv2.classList.add("filters-close");
      isVisible = true;
    }
    });

    users.addEventListener("click", function() {
      var url = window.location.href; // Obtener la URL actual
      if (url.includes('type=user')) {
        users.classList.add("active-filter");
      } else {
        users.classList.remove("active-filter");
      }
      presentations.classList.remove("active-filter");
      links.classList.remove("active-filter");
    });

    presentations.addEventListener("click", function() {
      var url = window.location.href; // Obtener la URL actual
      if (url.includes('type=presentation')) {
        presentations.classList.add("active-filter");
      } else {
        presentations.classList.remove("active-filter");
      }
      users.classList.remove("active-filter");
      links.classList.remove("active-filter");
    });

    links.addEventListener("click", function() {
      var url = window.location.href; // Obtener la URL actual
      if (url.includes('type=link')) {
        links.classList.add("active-filter");
      } else {
        links.classList.remove("active-filter");
      }
      presentations.classList.remove("active-filter");
      users.classList.remove("active-filter");
    });
  });
</script>
