<% generated_id= "presentation-" + presentation.id.to_s %>
<div class="item_box">
  <div class="item_icon">
    <a href=<%=  presentation_url(presentation) %>>
      <img src="/assets/slides_num.png"/>
    </a>
  </div>
  <div class="item_thumbnail <%="item_thumbnail_draft_wrapper" if presentation.draft %>">
      <%= link_to(presentation_url(presentation)) do %>
        <div class="item_thumbnail_img" id="<%=generated_id%>"></div>
        <% if presentation.draft %>
          <div class="item_thubmnail_draft">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Draft
          </div>
        <% end %>
      <%end%>
    </div>
    <div class="item_title">
      <%= link_to(presentation_url(presentation)) do %>
        <p class="title"><%= presentation.title %></p>
      <%end%>
    </div>
    <div class="item_user">
      <div class="d-flex by_date justify-content-between">
        <span class="author">
          <span class="by"><%=t('by')%></span>
          <%= link_to User.find_by(id: presentation.owner_id)&.name, user_path(presentation.owner_id) if presentation.owner_id.present? %>
        </span>
        <span><%= presentation.created_at.strftime('%d/%m/%Y') %></span>
      </div>
      <div class="d-flex views_after_by">
        <i class="bi bi-eye-fill"></i>
        <p><%=rand(1..40)%> visualizaciones</p>
      </div>
    </div>
  </div>
  <script>
    document.getElementById("<%=generated_id%>").style.backgroundImage = "url('<%=presentation.thumbnail_url%>')";
  </script>
