<div class="profile_container">
  <% active ||= "presentations" %>
  <div id="user_profile_info">
    <div class="title">
      <i class="bi bi-person-fill"></i>
      <% if @isProfileOwner %>
        <span><%= current_user.name%></span>
        <%= link_to(edit_user_registration_path(current_user), class: "edit_profile") do %>
          <i class="bi bi-pen-fill"></i> editar
        <% end %>
      <% else %>
        <span><%=t("profile.title", :name => @profile_user.name)%></span>
      <% end %>
    </div>
  </div>
  <ul class="nav nav-tabs user-nav">
    <% 
    tabs = ["presentations", "files"]
  %>
    <% tabs.each do |resource| %>
      <li id="<%= resource %>_tab" class="<%= (active == resource ? 'active' : '') %>">
        <a href="/users/<%= @profile_user.id.to_s + '/' + resource %>">
          <% if resource == 'presentations' %>
            <i class="bi bi-file-slides-fill"></i>
          <% elsif resource == 'files' %>
            <i class="bi bi-archive-fill"></i>
          <% end %>
          <%= t(resource.underscore + '.tabtitle') %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
