<div class="profile_container">
  <% active ||= "presentations" %>
  <div id="user_profile_info">
    <i class="bi bi-person-fill"></i>
    <% if @isProfileOwner %>
      <span><%= current_user.name%></span>
      <%= link_to(edit_user_registration_path(current_user), class: "edit_profile") do %>
        <i class="bi bi-pen-fill"></i> <%=t('dictionary.edit')%>
      <% end %>
    <% else %>
      <span><%=t("profile.title", :name => @profile_user.name)%></span>
    <% end %>
  </div>
  <ul class="nav nav-tabs user-nav">
    <% 
    tabs = ["presentations", "files", "embeds"]
  %>
    <% tabs.each do |resource| %>
      <li id="<%= resource %>_tab" class="<%= (active == resource ? 'active' : '') %>">
        <a href="/users/<%= @profile_user.id.to_s + '/' + resource %>">
          <% if resource == 'presentations' %>
            <i class="bi bi-file-slides-fill"></i>
          <% elsif resource == 'files' %>
            <i class="bi bi-archive-fill"></i>
          <% elsif resource == 'embeds' %>
            <i class="bi bi-link-45deg"></i>
          <% end %>
          <%= t(resource.underscore + '.tabtitle') %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
