<div id="movle_logo_wrapper">
  <a href="/">
    <p class="logo">MOVLE</p>
  </a>
</div>
<div id="buttons_header">
  <%= render partial: 'layouts/search' %>
  <div id="header_plus_wrapper" class="dropdown">
    <button class="dropdown-toggle movle_button" type="button" data-toggle="dropdown">
      +
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to(t("documents.new"),new_document_path())%></li>
      <li><%= link_to(t("presentations.new"),new_presentation_path())%></li>
    </ul>
  </div>
  <div id="header_profile" class="dropdown">
    <button class="dropdown-toggle movle_button" type="button" data-toggle="dropdown">
      <%= current_user.name %>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <div id="arrow-up-header-profile"></div>
      <li><%= link_to(t("header.menu.profile"),user_path(current_user))%></li>
      <li><%= link_to(t("header.menu.settings"),edit_user_registration_path(current_user))%></li>
      <li role="separator" class="divider"></li>
      <li><%= link_to(t("header.menu.logout"), destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var searchIcon = document.getElementById("search-addon");
    var searchInput = document.getElementById("search_input");

    searchIcon.addEventListener("click", function() {
      if (searchInput.style.display === "none") {
        searchInput.style.display = "flex";
      } else {
        searchInput.style.display = "none";
      }
    });
  });
</script>
