<div id="session_form">
  <%= link_to :back, id: "return_button" do %>
    <i class="bi bi-arrow-left-circle-fill"></i><%=t("dictionary.back")%>
  <% end %>
  <h2 style="margin-top: 0px"><%=t("account.edit")%></h2>
  <div id="row_form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <p class="form_legend"><%=t("dictionary.email")%></p>
        <%= f.email_field :email, autofocus: true, class: "outlined_input" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%=t("login.confirmation_waiting")%>: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <p class="form_legend"><%=t("dictionary.username")%></p>
        <%= f.text_field :name, class: "outlined_input" %>
      </div>
      <div class="field">
        <p class="form_legend"><%=t("dictionary.language")%></p>
        <%= f.select :ui_language, options_for_select(options_for_select_all_languages, I18n.locale.to_s), {}, { :class => 'account_language outlined_input' } %>
      </div>
      <div class="field">
        <p class="form_legend">* <%=t("login.password_in_settings")%></p>
        <%= f.password_field :password, autocomplete: "off", class: "outlined_input" %>
      </div>
      <div class="field">
        <p class="form_legend">* <%=t("login.password_confirmation")%></p>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "outlined_input" %>
      </div>
      <div class="field">
        <p class="form_legend">* <%=t("login.password_current_in_settings")%></p>
        <%= f.password_field :current_password, autocomplete: "off", class: "outlined_input" %>
      </div>
      <div class="actions">
        <div class="end_row margin_end_row align_center" style="margin-bottom: 10px">
          <p class="end_row_p"><%= button_to t("account.cancel"), registration_path(resource_name), data: { confirm: t("dictionary.are_you_sure") }, method: :delete, class: "movle_button cancel_account_button" %></p>
          <%= f.submit(t("account.update"), {class: "movle_button update_account_button"}) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
