<div id="session_form">
  <h2><%=t("devise.registrations.new")%></h2>

  <div id="row_form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <p class="form_legend">* <%=t("dictionary.email")%></p>
        <%= f.email_field :email, autofocus: true, class: "outlined_input" %>
      </div>

      <div class="field">
        <p class="form_legend">* <%=t("dictionary.username")%></p>
        <%= f.text_field :name, class: "outlined_input" %>
      </div>

      <div class="field">
        <p class="form_legend"><%=t("dictionary.language")%></p>
        <%= f.select :language, options_for_select(options_for_select_all_languages, I18n.locale.to_s), {}, { :class => 'account_language outlined_input' } %>
      </div>

      <div class="field">
        <p class="form_legend">* <%=t("login.password")%></p>
        <%= f.password_field :password, autocomplete: "off", class: "outlined_input" %>
      </div>

      <div class="field">
        <p class="form_legend">* <%=t("login.password_confirmation")%></p>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "outlined_input" %>
      </div>

      <% if  Movle::Application.config.recaptcha %>
        <div class="field">
          <%= recaptcha_tags %>
        </div>
      <% end %>

      <div class="end_row margin_end_row">
        <div class="end_column">
          <%= render "devise/shared/links" %>
        </div>
        <div class="actions">
          <%= f.submit(t("devise.registrations.new"), {class: "movle_button sign_up_button"}) %>
        </div>
      </div>
    <% end %>
  </div>

</div>